# Created by .ignore support plugin (hsz.mobi)
.DS_Store

# IntelliJ project files
.idea
*.iml
out
gen
.DS_Store

# node.js dist
/node_modules

# Eclipse project files
.classpath
.project
/.settings
/**/.settings

#dist
target



